In [1]:
# Dependencies
import pandas as pd

# Read data into Pandas DataFrame
file = "Public_Schools_2020-2021_Cleaned.csv"
df = pd.read_csv(file)

In [2]:
# Reduce to desired columns
red_df = df[["SCH_NAME", "LSTREET1", "LCITY", "LSTATE", "LZIP", "VIRTUAL","TOTFRL","TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "ULOCALE", "STUTERATIO","SCHOOL_TYPE_TEXT", "SY_STATUS_TEXT", "SCHOOL_LEVEL"]]

# Ensure the following columns are numeric: LZIP, TOTFRL, TOTAL, WH, FTE, LATCOD, LONCOD, STUTERATIO
red_df[["LZIP", "TOTFRL", "TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "STUTERATIO"]] = red_df[["LZIP", "TOTFRL", "TOTAL", "WH", "FTE", "LATCOD", "LONCOD", "STUTERATIO"]].apply(pd.to_numeric) #errors = 'ignore'

# Remove rows where there is missing data
new_df = red_df.dropna()

# View some of new_df
new_df.head()

c:\Users\ysgor\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,SCH_NAME,LSTREET1,LCITY,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,ULOCALE,STUTERATIO,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,SCHOOL_LEVEL
0,Albertville Middle School,600 E Alabama Ave,Albertville,AL,35950,Not Virtual,332.0,908.0,371.0,42.0,34.2602,-86.206200,32-Town: Distant,21.62,Regular school,Currently operational,Middle
1,Albertville High School,402 E McCord Ave,Albertville,AL,35950,Not Virtual,456.0,1606.0,706.0,82.0,34.2622,-86.204900,32-Town: Distant,19.59,Regular school,Currently operational,High
2,Albertville Intermediate School,901 W McKinney Ave,Albertville,AL,35950,Not Virtual,330.0,891.0,345.0,41.0,34.2733,-86.220100,32-Town: Distant,21.73,Regular school,Currently operational,Middle
3,Albertville Elementary School,145 West End Drive,Albertville,AL,35950,Not Virtual,397.0,908.0,340.0,49.0,34.2527,-86.221806,32-Town: Distant,18.53,Regular school,Currently operational,Elementary
4,Albertville Kindergarten and PreK,257 Country Club Rd,Albertville,AL,35951,Not Virtual,181.0,556.0,216.0,30.0,34.2898,-86.193300,32-Town: Distant,18.53,Regular school,Currently operational,Elementary

In [3]:
# Look at how many rows we have lost with the removal of empty rows
# Final result
new_df.describe()

,LZIP,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,STUTERATIO
count,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000
mean,54584.079522,284.096620,530.790532,231.724506,34.202104,37.411759,-93.225994,16.316400
std,29266.625286,295.814934,471.644119,265.770428,25.788743,5.408087,16.712879,70.131844
min,601.000000,3.000000,0.000000,0.000000,0.010000,13.272449,-159.716254,0.000000
25%,30004.000000,96.000000,265.000000,46.000000,18.530001,33.710738,-99.900700,12.190000
50%,55104.000000,209.000000,431.000000,166.000000,29.000000,38.017136,-91.371078,14.580000
75%,78584.000000,378.000000,646.000000,324.000000,42.320000,41.317600,-81.105600,17.630000
max,99403.000000,10595.000000,16419.000000,10098.000000,683.270020,49.352909,144.917553,17900.000000

In [4]:
# Dataset before removal of empty data
red_df.describe()

,LZIP,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,STUTERATIO
count,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000,73577.000000
mean,54584.079522,284.096620,530.790532,231.724506,34.202104,37.411759,-93.225994,16.316400
std,29266.625286,295.814934,471.644119,265.770428,25.788743,5.408087,16.712879,70.131844
min,601.000000,3.000000,0.000000,0.000000,0.010000,13.272449,-159.716254,0.000000
25%,30004.000000,96.000000,265.000000,46.000000,18.530001,33.710738,-99.900700,12.190000
50%,55104.000000,209.000000,431.000000,166.000000,29.000000,38.017136,-91.371078,14.580000
75%,78584.000000,378.000000,646.000000,324.000000,42.320000,41.317600,-81.105600,17.630000
max,99403.000000,10595.000000,16419.000000,10098.000000,683.270020,49.352909,144.917553,17900.000000

In [8]:
# Filter by state of Maryland
new_df = new_df.loc[new_df["LSTATE"] == "MD", :]
new_df.head()

,SCH_NAME,LSTREET1,LCITY,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,ULOCALE,STUTERATIO,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,SCHOOL_LEVEL
29479,The Seed School of Maryland,200 Font Hill Avenue,Baltimore,MD,21223,Supplemental Virtual,234.0,403.0,1.0,40.000000,39.284040,-76.664092,11-City: Large,10.08,Regular school,Currently operational,High
29480,Allegany High,900 Seton Dr,Cumberland,MD,21502,Supplemental Virtual,271.0,736.0,628.0,44.750000,39.655804,-78.795466,13-City: Small,16.45,Regular school,Currently operational,High
29481,Beall Elementary,3 E College Ave,Frostburg,MD,21532,Supplemental Virtual,208.0,445.0,384.0,29.350000,39.654300,-78.931800,23-Suburb: Small,15.16,Regular school,Currently operational,Elementary
29482,Bel Air Elementary,14401 Barton Blvd,Cumberland,MD,21502,Supplemental Virtual,94.0,216.0,202.0,16.000000,39.578800,-78.853700,41-Rural: Fringe,13.50,Regular school,Currently operational,Elementary
29483,Braddock Middle,909 Holland St,Cumberland,MD,21502,Supplemental Virtual,278.0,605.0,502.0,42.360001,39.665978,-78.770949,13-City: Small,14.28,Regular school,Currently operational,Middle

In [9]:
# Filter by "Regular school"
new_df = new_df.loc[new_df["SCHOOL_TYPE_TEXT"] == "Regular school", :]
new_df

,SCH_NAME,LSTREET1,LCITY,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,ULOCALE,STUTERATIO,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,SCHOOL_LEVEL
29479,The Seed School of Maryland,200 Font Hill Avenue,Baltimore,MD,21223,Supplemental Virtual,234.0,403.0,1.0,40.000000,39.284040,-76.664092,11-City: Large,10.08,Regular school,Currently operational,High
29480,Allegany High,900 Seton Dr,Cumberland,MD,21502,Supplemental Virtual,271.0,736.0,628.0,44.750000,39.655804,-78.795466,13-City: Small,16.45,Regular school,Currently operational,High
29481,Beall Elementary,3 E College Ave,Frostburg,MD,21532,Supplemental Virtual,208.0,445.0,384.0,29.350000,39.654300,-78.931800,23-Suburb: Small,15.16,Regular school,Currently operational,Elementary
29482,Bel Air Elementary,14401 Barton Blvd,Cumberland,MD,21502,Supplemental Virtual,94.0,216.0,202.0,16.000000,39.578800,-78.853700,41-Rural: Fringe,13.50,Regular school,Currently operational,Elementary
29483,Braddock Middle,909 Holland St,Cumberland,MD,21502,Supplemental Virtual,278.0,605.0,502.0,42.360001,39.665978,-78.770949,13-City: Small,14.28,Regular school,Currently operational,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30834,Snow Hill Elementary,515 Coulbourne Ln,Snow Hill,MD,21863,Supplemental Virtual,177.0,332.0,194.0,28.000000,38.165179,-75.395785,42-Rural: Distant,11.86,Regular school,Currently operational,Elementary
30835,Snow Hill Middle,522 Coulbourne Ln,Snow Hill,MD,21863,Supplemental Virtual,220.0,407.0,232.0,44.000000,38.167100,-75.397400,42-Rural: Distant,9.25,Regular school,Currently operational,Middle
30836,Snow Hill High,305 S Church St,Snow Hill,MD,21863,Supplemental Virtual,152.0,337.0,229.0,32.000000,38.169100,-75.389800,42-Rural: Distant,10.53,Regular school,Currently operational,High
30837,Stephen Decatur High,9913 Seahawk Rd,Berlin,MD,21811,Supplemental Virtual,434.0,1369.0,1046.0,87.000000,38.341700,-75.190300,32-Town: Distant,15.74,Regular school,Currently operational,High
30838,Showell Elementary,11318 Showell School Rd,Berlin,MD,21811,Supplemental Virtual,175.0,649.0,530.0,49.500000,38.390700,-75.191900,41-Rural: Fringe,13.11,Regular school,Currently operational,Elementary

100,722 - 73,577 = 27,145 rows/schools removed.

In [10]:
# Save new df
new_df.to_csv("Maryland_Public_Schools_2020-2021_Cleaned.csv")

In [11]:
# Filter by "High"
high_df = new_df.loc[new_df["SCHOOL_LEVEL"] == "High", :]
high_df

,SCH_NAME,LSTREET1,LCITY,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,WH,FTE,LATCOD,LONCOD,ULOCALE,STUTERATIO,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,SCHOOL_LEVEL
29479,The Seed School of Maryland,200 Font Hill Avenue,Baltimore,MD,21223,Supplemental Virtual,234.0,403.0,1.0,40.000000,39.284040,-76.664092,11-City: Large,10.08,Regular school,Currently operational,High
29480,Allegany High,900 Seton Dr,Cumberland,MD,21502,Supplemental Virtual,271.0,736.0,628.0,44.750000,39.655804,-78.795466,13-City: Small,16.45,Regular school,Currently operational,High
29487,Fort Hill High,500 Greenway Ave,Cumberland,MD,21502,Supplemental Virtual,270.0,657.0,556.0,45.000000,39.644364,-78.748107,13-City: Small,14.60,Regular school,Currently operational,High
29501,Mountain Ridge High School,100 Dr. Nancy S. Grasmick,Frostburg,MD,21532,Supplemental Virtual,261.0,771.0,712.0,46.500000,39.650263,-78.913692,23-Suburb: Small,16.58,Regular school,Currently operational,High
29504,Annapolis High,2700 Riva Rd,Annapolis,MD,21401,Supplemental Virtual,1144.0,2134.0,638.0,142.100006,38.974500,-76.565600,21-Suburb: Large,15.02,Regular school,Currently operational,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30815,Parkside High,1015 Beaglin Park Dr,Salisbury,MD,21804,Supplemental Virtual,546.0,1113.0,577.0,103.500000,38.349600,-75.573300,13-City: Small,10.75,Regular school,Currently operational,High
30824,Wicomico High,201 Long Avenue,Salisbury,MD,21804,Supplemental Virtual,828.0,1190.0,303.0,88.000000,38.365521,-75.580728,23-Suburb: Small,13.52,Regular school,Currently operational,High
30833,Pocomoke High,1817 Old Virginia Rd,Pocomoke City,MD,21851,Supplemental Virtual,239.0,349.0,151.0,32.500000,38.059800,-75.552700,32-Town: Distant,10.74,Regular school,Currently operational,High
30836,Snow Hill High,305 S Church St,Snow Hill,MD,21863,Supplemental Virtual,152.0,337.0,229.0,32.000000,38.169100,-75.389800,42-Rural: Distant,10.53,Regular school,Currently operational,High
30837,Stephen Decatur High,9913 Seahawk Rd,Berlin,MD,21811,Supplemental Virtual,434.0,1369.0,1046.0,87.000000,38.341700,-75.190300,32-Town: Distant,15.74,Regular school,Currently operational,High

In [12]:
# Export to .csv
high_df.to_csv("Maryland_Public_High_2020-2021_Cleaned.csv")